{% extends "testblogapp/template.html" %}

{% block content %}
{% if message is not None %}
<div class="alert alert-warning">{{message}}</div>    
{% endif %}
<div class="jumbotron">
    <div class="container">
        <h1>Новый пост</h1>
        <form action="./../blog/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Your posts title"> 
            </div>
            <div class="form-group">
                <label for="body">Text</label>
                <textarea class="form-control" name="body" placeholder="Your posts text"></textarea>
            </div>
            <button type="submit" class="btn btn-default" value="Send">Отправить</button>
        </form>
    </div>
</div>
<div class="container">
    {% for post in posts %}
        <div class="row">
            <div class="well">
                <h4>{{post.title}} <small>{{post.append_time}}</small></h4>
                <p class="text-justify">
                    {{post.text}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}