{% extends "testblogapp/template.html" %}

{% block title %}Лента{% endblock %}

{%block urls %}
    <li><a href="./../blog">Блог</a></li>
    <li class="active"><a href="./../feed">Лента</a></li>
    <li><a href="./../settings">Настройки</a></li>
{% endblock %}

{% block content %}
<div class="container">
    {% for post in posts %}
        <div class="row">
            <div class="well">
                <h4>{{post.title}} <small>{{post.append_time}}</small></h4>
                <p class="text-justify">
                    {{post.text}}
                </p>
                <footer>{{post.author}}</footer>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}