{% extends "testblogapp/template.html" %}

{% block title %}Пост{% endblock %}

{%block urls %}
    <li><a href="./../blog">Блог</a></li>
    <li><a href="./../feed">Лента</a></li>
    <li><a href="./../settings">Настройки</a></li>
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>{{post.title}} <small>{{post.append_time}}</small></h4></div>
                <div class="panel-body">
                    {{post.text}}
                </div>
                <div class="panel-footer">
                    <ul class="list-inline">
                        <li><p>Author: {{post.author}}</p></li>
                        <li><small><a href="./../setread?id={{post.id}}">Check read</a></small></li>
                    </ul>
                </div>
            </div>
        </div>
</div>
{% endblock %}